<!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- /row -->
        <div class="row mt">
          <div class="col-lg-12">
            <h4><i class="fa fa-angle-right"></i> Thêm nhân viên</h4>
            <div class="form-panel">
              <div class="form">
                <form class="cmxform form-horizontal style-form" id="signupForm" method="get" action="">
                  <div class="form-group ">
                    <label for="FullName" class="control-label col-lg-2">Fullname</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="FullName" name="FullName" type="text" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="Email" class="control-label col-lg-2">Email</label>
                    <div class="col-lg-10">
                      <input class="form-control " id="Email" name="email" type="email" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="Password" class="control-label col-lg-2">Password</label>
                    <div class="col-lg-10">
                      <input class="form-control " id="Password" name="password" type="password" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="Confirm_password" class="control-label col-lg-2">Confirm Password</label>
                    <div class="col-lg-10">
                      <input class="form-control " id="Confirm_password" name="confirm_password" type="password" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Role" class="control-label col-lg-2">Role</label>
                    <div class="col-lg-10">
                      <select class="form-control" name="" id="Role">
                        <option value="manage">manage</option>
                        <option value="employee">employee</option>
                      </select>
                    </div>
                  </div>

                  <!-- <div class="form-group ">
                    <label for="agree" class="control-label col-lg-2 col-sm-3">Agree to Our Policy</label>
                    <div class="col-lg-10 col-sm-9">
                      <input type="checkbox" style="width: 20px" class="checkbox form-control" id="agree" name="agree" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="newsletter" class="control-label col-lg-2 col-sm-3">Receive the Newsletter</label>
                    <div class="col-lg-10 col-sm-9">
                      <input type="checkbox" style="width: 20px" class="checkbox form-control" id="newsletter" name="newsletter" />
                    </div>
                  </div> -->
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-theme" type="submit" onclick="DongYTao()">Tạo</button>
                      <button class="btn btn-theme04" type="button" onclick="LamMoi()">Làm mới</button>

                    </div>
                </form>
              </div>
            </div>
            <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
  <div ng-include="'general/footer.html'"></div>