<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> Calendar</h3>
    <!-- page start-->
    <div class="row mt">
      <aside class="col-lg-3 mt">
        <h4><i class="fa fa-angle-right"></i> Draggable Events</h4>
        <div id="external-events">
          <div class="external-event label label-theme">Sinh nhật</div>
          <div class="external-event label label-success">Party</div>
          <div class="external-event label label-info">Hẹn hò</div>
          <div class="external-event label label-warning">Đi chơi</div>
          <div class="external-event label label-danger">Họp</div>
          <div class="external-event label label-default">Đi chơi lol</div>
          <div class="external-event label label-theme">Đá banh</div>
          <div class="external-event label label-info">Công tác xa</div>
          <div class="external-event label label-success">Phượt</div>
          <p class="drop-after">
            <input type="checkbox" id="drop-remove"> Xóa khi thả
          </p>
        </div>
      </aside>
      <aside class="col-lg-9 mt">
        <section class="panel">
          <div class="panel-body">
            <div id="calendar" class="has-toolbar"></div>
          </div>
        </section>
      </aside>
    </div>
    <!-- page end-->
  </section>
  <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->
<div ng-include="'general/footer.html'"></div>
